* {
    border: 1px dotted salmon;
}

body {
    box-sizing: border-box;
    margin: 0px;
}

.header {
    background-color: #1F2937;
}

h1 {
    margin: 0px;
}

p {
    margin: 0px;
}

/*
.header.top {
    display: flex;
    justify-content: space-evenly;
    margin: 0px -75px;
}
*/

/*
.header.center {
    display: flex;
    justify-content: center;
}
*/

/* How do I get these two divs aligned perfectly*/

.image-placeholder {
    /* display: flex;   
    justify-content: center; */
    background-color: #949ca2;
    height: 250px;
    width: 500px;
}